version: '3.8'
services:
  node1:
    build: .
    command: ./server -port=8080
    volumes:
      - ./data/node1:/root/data # Persist WAL to host

  node2:
    build: .
    command: ./server -port=8080
    volumes:
      - ./data/node2:/root/data

  node3:
    build: .
    command: ./server -port=8080
    volumes:
      - ./data/node3:/root/data

  proxy:
    build: .
    command: ./proxy-bin
    ports:
      - "8000:8000" # Expose Proxy to your machine
    environment:
      - NODES=http://node1:8080,http://node2:8080,http://node3:8080
    depends_on:
      - node1
      - node2
      - node3
